/* body */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  margin: 0 auto;
  background-color: black;
  color: antiquewhite;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
img {
  max-width: 100%;
  width: 1400px;
  display: block;
}
svg {
  /* max-width: 45rem; */
  min-height: 30rem;
}
/* ======================= */

/* links */
a {
  color: antiquewhite;
  text-decoration: none;
}
a:hover,
a:focus {
  /* background-color:aquamarine; */
  color: aquamarine;
}
/* ========================= */

/* typography */
h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-left: -0.08em;
}
h2 {
  font-size: 2rem;
  font-weight: 300;
  padding-bottom: 1em;
}
p {
  font-size: 1rem;
}
a,
span {
  font-size: 0.875rem;
}
footer p {
  font-size: 0.875rem;
}

/* ========================= */

/* navbar*/
header {
  /* background-color: #282726; */
  box-shadow: 2px 0.25px 6px aqua;
  overflow: hidden;
}
nav {
  display: flex;
  /* border:2px dashed orangered; */
  flex-direction: column;
  justify-content: space-between;
}
.nav-links {
  list-style-type: none;
  height: 0rem;
  overflow: hidden;
  /* transition: all 0.3s linear; */
  display: block;
  align-items: flex-start;
  /* text-align: left; */
  /* padding: 1em 0; */
}
.nav-links a {
  transition: transform 0.3s linear;
  padding: 0.5rem 0.5rem;
}
.nav-links a:hover {
  transform: scaleX(1.125);
  background-color: #a5dc74;
  color: black;
  padding-left: 2.5rem;
}
.show-links {
  height: 9rem;
}
li {
  margin: 0.75em 0;
  /* border-bottom: 1px solid #faebd7; */
}
li:last-child {
  border-bottom: none;
  margin-bottom: 0.75em;
}
.nav-image {
  width: 100%;
  max-width: 80px;
  display: block;
  padding: 1em 0;
}
.nav-title {
  display: flex;
  /* border: 2px dashed orangered; */
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.nav-title a {
  font-size: 0.75rem;
}
.nav-toggle {
  transition: all 0.3s linear;
  cursor: pointer;
}
.nav-toggle:hover,
.nav-toggle:focus {
  transform: rotate(90deg);
}
ion-icon {
  color: antiquewhite;
  font-size: 22px;
}
.colortoggle {
  color: #f57f05;
}
.nav-mark {
  display: none;
  width: 10%;
  /* border: 2px solid #A5DC74; */
}
footer {
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 10px aqua;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid olivedrab; */
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #a5dc74;
}

.footer-item:last-child {
  margin-bottom: 1.5em;
  padding: 0;
  border-bottom: none;
}

/* .footer-element {
  font-size: 22px;
  width: 100%;
} */
/* ========================= */

/*layout*/
main {
  max-height: 250vh;
  display: grid;
  place-items: center;
}
.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  /* border: 2px solid #A5DC74; */
  padding-top: 2em;
}

.main-text-image {
  min-width: 100%;
}
.flexbox-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 2em; */
}
.flexbox-item {
  text-align: center;
  text-align: justify;
  /* border:2px solid #F57F05; */
  margin: 0.5em 0;
}

/* ========================= */

/* mediaqueries */
@media (min-width: 650px) {
  /*layout*/
  main {
    max-height: 550vh;
    display: grid;
    place-items: center;
  }
  .container {
    padding: 0.75em 0;
  }
  nav {
    display: flex;
    flex-direction: row;
    /* border: 2px solid salmon; */
    justify-content: space-between;
    align-items: center;
  }
  .nav-title a {
    font-size: 0.775rem;
  }
  .nav-links a:hover {
    background-color: aquamarine;
  }
  .nav-toggle {
    display: none;
  }
  .nav-toggle:hover,
  .nav-toggle:focus {
    display: none;
  }
  .nav-links {
    display: flex;
    justify-content: space-between;
    /* border: 2px dashed peru; */
    width: 95%;
    align-items: center;
    height: auto;
    transition: none;
    text-align: center;
    padding: 0;
  }
  .nav-links a:hover,
  .nav-links a:focus {
    transition: none;
    padding: 0;
    /* background-color: black; */
    /* color: aqua; */
  }
  li {
    padding: 0;
    border-bottom: none;
  }
  .nav-title {
    justify-content: flex-start;
    align-items: center;
    /* border: 2px solid salmon; */
  }
  .nav-mark {
    display: flex;
    padding-left: 0.5em;
    border: none;
    justify-content: center;
  }

  .nav-image {
    max-height: 100%;
    width: 100%;
    display: block;

    /* border: 2px solid salmon; */
  }
  .current-page {
    padding-bottom: 0.2em;
    border-bottom: 2px solid aquamarine;
  }
}

@media (min-width: 700px) {
  .flexbox-container {
    flex-direction: row;
    margin: 1em 0;
  }
  .item-1,
  .item-2 {
    width: 40%;
    text-align: left;
    margin: 0;
  }
  .item-3 {
    text-align: right;
    text-decoration: underline;
  }
}

@media (min-width: 800px) {
  footer span {
    margin-right: 1em;
  }
  .container-footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-item {
    /* flex-direction: row; */
    align-items: center;
    /* justify-content: center; */
    /* border: 2px solid olivedrab; */
    margin: 1em 1em;
    border-bottom: none;
  }
  .footer-item:last-child {
    margin-bottom: 0;
    padding: 0;
    border-bottom: none;
    /* display: none; */
  }
  .footer-item p {
    padding: 0.5em;
  }
}

/* ========================= */

/*************************styling for about page*****************************/

.about-me-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.about-me-image {
  width: 100%;
  max-width: 250px;
  display: block;
  /* object-fit: cover; */
}
.about-me-image {
  clip-path: circle();
}
.software {
  display: flex;
  justify-content: space-between;
  margin: 3em 0;
}
.software img {
  width: 100%;
  max-width: 30px;
}
.aboutme-text p {
  margin: 1em 0;
}
/* mediaqueries */

@media (min-width: 800px) {
  .software img {
    max-width: 50px;
  }
}

@media (min-width: 1200px) {
  .software img {
    max-width: 60px;
  }
}

/*************************styling for projects page*****************************/
.maingallerycontainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, auto);
  align-items: center;
  justify-content: center;
}
@media (min-width: 800px) {
  .maingallerycontainer {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
  }
}
.gallery {
  margin: 1em;
  text-align: center;
  /* display: grid; */
  /* grid-template-columns: auto auto auto auto auto; */
  /* grid-template-rows: repeat(5,0.125fr); */

  transition: transform 0.5s ease-in-out;
}
.gallery:hover,
.gallery:focus {
  transform: scale(1.125);
}
@media (min-width: 800px) {
  .gallery {
  }
}
#display-img {
  width: 100%;
  margin: auto;
  max-height: 180px;
  max-width: 200px;
  object-fit: cover;
  background-color: #ccc;
  /* animation-name: example;
  animation-duration: 10s; */
}

@media (min-width: 800px) {
  #display-img {
    max-height: 580px;
    max-width: 250px;
  }
}
@keyframes example {
  from {
    width: 100%;
  }
  to {
    width: 150%;
  }
}
div.gallery img {
  width: 100%;
  height: auto;
}
@media (min-width: 800px) {
  #display-img {
    width: 100%;
    max-height: 180px;
  }
}

.descrip {
  padding: 1em;
  background-color: antiquewhite;
  color: #f57f05;
}
.descrip:hover,
.descrip:focus {
  /* color: #a5dc74; */
  background-color: transparent;
}
/*.bastille{
    margin: -2000px 0px 420px 50px;
    width: 26%;
    border: 25px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bastille-text{
    padding: 10px 20px;
    margin:-456.5px 0px 0px 125px;
    color:black;
}
.helpr{
    margin: -2000px 0px 210px 500px;
    width: 18%;
    border: 25px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.helpr-text{
    padding: 10px 20px;
    margin:-248px 0px 0px 570px;
    color:black;
}
.illustration{
    margin: -2000px 0px 432px 838px;
    width: 28%;
    border: 25px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.illustration-text{
    padding: 10px 20px;
    margin:-470px 0px 0px 985px;
    color:black;
}
.michael{
    margin: -2000px 0px 80px 50px;
    width: 26.6%;
    border: 25px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.michael-text{
    padding: 10px 20px;
    margin:-117px 0px 0px 160px;
    color:black; 
}
.zuri{
    margin: -2000px 0px 60px 838px;
    width: 28%;
    border: 25px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.zuri-text{
    padding: 10px 20px;
    margin:-98px 0px 0px 950px;
    color:black
}

/*************************styling for services page*****************************/

#circle {
  width: 200px;
  height: 200px;
  background: aquamarine;
  border-radius: 50%;
  margin: 100px 0px 0px 100px;
}
#rectangle {
  width: 920px;
  height: 200px;
  background: aquamarine;
  border-radius: 0px 150px 150px 0px;
  margin: -200px 0px 20px 200px;
}
#circle-2 {
  width: 200px;
  height: 200px;
  background: #f57f05;
  border-radius: 50%;
  margin: 0px 0px 100px 400px;
}
#rectangle-2 {
  width: 920px;
  height: 200px;
  background: #f57f05;
  border-radius: 0px 150px 150px 0px;
  margin: -300px 0px -80px 500px;
}
#circle-3 {
  width: 200px;
  height: 200px;
  background: #a5dc74;
  border-radius: 50%;
  margin: 100px 0px 0px 100px;
}
#rectangle-3 {
  width: 920px;
  height: 200px;
  background: #a5dc74;
  border-radius: 0px 150px 150px 0px;
  margin: -200px 0px 100px 200px;
}
.graphics {
  margin: 0px 0px 0px 0px;
  padding-top: 0px;
  color: black;
}
