/* *{
    margin: 0;
    padding:0;
} */

html,body{
    height:auto;
    width:auto;
    background-color: black;
    color:antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a:link,a:visited,a:active{
    color:antiquewhite;
    text-decoration:none;
}
a:hover{
    color:aquamarine;
}
nav{
    display:flex;
    justify-content:flex-end;
    margin: -73.5px 0px 0px 0px;
    /*background-color: gray;*/
}
.navbar-item{
    margin-right: 100px;
    /*border: 1px solid red;
    background-color: blue;*/
}
p{
    font-size: large;
    /*color:antiquewhite;*/
    
}
#mine{
    margin: -60px 0px 0px 220px;
    /*border: 2px solid blue;*/
    
}
.davina{
    font-size: large;
}
.code{
    margin:18px 100px 0px 0px;
    color:aquamarine
}
.logomark{
    margin: 30px 0px 0px 100px;
}
.dev{
    text-align: center;
    margin:-100px;
    /*background-color: gray;*/
}
.dev-main{
    /*background-color:brown;*/
    font-family:'Helvetica', sans-serif;
    font-size: 216.9px; 
}
.flexbox-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    /*background-color: gray;*/
    margin:-150px 0px 0px 0px;
}
.flexbox-item{
    width: 200px;
    /*border:1px solid black;
    background-color: blue;*/
    margin: 0px 10px;
   
}
.item-1{
    flex-grow:1;
    flex-basis:0px;
    margin-left: 198px;
}
.item-2{
    flex-grow:1;
    flex-basis:0px;
    
}
.item-3{
    flex-grow:0.5;
    flex-basis:0px; 
    margin-right: 179px;
}
.intro-1, .intro-2{
    text-align: justify;
}
.intro-3{
    text-align:right;
    text-decoration: underline;
}
.backdrop{
    margin: 150px 0px -20px 0px;
}
#davina-picture{
    margin:-712.85px 0px 0px 280px;
    /*border: 2px solid white;*/
}
.rotateimg-13 {
    -webkit-transform:rotate(-13deg);
    -moz-transform: rotate(-13deg);
    -ms-transform: rotate(-13deg);
    -o-transform: rotate(-13deg);
    transform: rotate(-13deg);
    margin: -2000px -170px 390px 2px;
  }
  .rotateimg-15{
    -webkit-transform:rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
    margin: -2000px -140px 515px 100px;
  }
  .rotateimg20{
    -webkit-transform:rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
    margin: -2000px -150px 150px -30px;
  }
  .rotateimg0{
    -webkit-transform:rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
    margin: -2000px 0px 58px 520px;
  }
  .rotateimg10{
    -webkit-transform:rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
    margin: -2000px 0px 520px 750px;
  }
  .rotateimg-17{
    -webkit-transform:rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(-17deg);
    margin: -2000px 0px 360px 1130px;
  }
#footer{
    display:flex;
    justify-content:space-around;
    margin: 0px 0px 0px 0px;
    padding:0px 50px 0px 50px;
    /*background-color: #f57f05;*/
}
.number{
    margin-top:-22.9px;
    margin-left:30px;
    flex-grow:1;
    flex-basis:0px;
}
.twitter{
    margin-top:-25px;
    margin-left:35px;
    flex-grow:1;
    flex-basis:0px;
}
#twitter{
    margin-top:-3.5px;
}
span{
    color: antiquewhite;
}

/*************************styling for projects page*****************************/

.whiteboard{
    margin:100px;
}
.bastille{
    margin: -2000px 0px 420px 50px;
    width: 26%;
    border: 25px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bastille-text{
    padding: 10px 20px;
    margin:-456.5px 0px 0px 125px;
    color:black;
}
.helpr{
    margin: -2000px 0px 210px 500px;
    width: 18%;
    border: 25px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.helpr-text{
    padding: 10px 20px;
    margin:-248px 0px 0px 570px;
    color:black;
}
.illustration{
    margin: -2000px 0px 432px 838px;
    width: 28%;
    border: 25px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.illustration-text{
    padding: 10px 20px;
    margin:-470px 0px 0px 985px;
    color:black;
}
.michael{
    margin: -2000px 0px 80px 50px;
    width: 26.6%;
    border: 25px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.michael-text{
    padding: 10px 20px;
    margin:-117px 0px 0px 160px;
    color:black; 
}
.zuri{
    margin: -2000px 0px 60px 838px;
    width: 28%;
    border: 25px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.zuri-text{
    padding: 10px 20px;
    margin:-98px 0px 0px 950px;
    color:black
}
/*************************styling for about page*****************************/
#pictureday{
    clip-path: circle();
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
}
h2{
    text-align: center;
    font-weight: 150;
} 
.aboutme-text{
    margin: -50px 250px 110px 250px;
    text-align: justify;
}
.softwares{
    display: flex;
    justify-content: space-around;
    margin:50px;
}
/*************************styling for services page*****************************/

#circle{
    width: 200px;
    height: 200px;
    background: aquamarine;
    border-radius: 50%;
    margin:100px 0px 0px 100px;
} 
#rectangle{
    width: 920px;
    height: 200px; 
    background: aquamarine;
    border-radius: 0px 150px 150px 0px;
    margin: -200px 0px 20px 200px;
  }
  #circle-2{
    width: 200px;
    height: 200px;
    background: #F57F05;
    border-radius: 50%;
    margin: 0px 0px 100px 400px;
}
#rectangle-2{
    width: 920px;
    height: 200px;  
    background: #F57F05;
    border-radius: 0px 150px 150px 0px;
    margin: -300px 0px -80px 500px;
  }
  #circle-3{
    width: 200px;
    height: 200px;
    background: #A5DC74;
    border-radius: 50%;
    margin:100px 0px 0px 100px;
}
#rectangle-3{
    width: 920px;
    height: 200px; 
    background: #A5DC74;
    border-radius: 0px 150px 150px 0px;
    margin: -200px 0px 100px 200px;
}
  .graphics{
    margin: 0px 0px 0px 0px;
    padding-top: 0px;
    color: black;
}